.progress-bar {
  width: 100%;
  height: 4px;
  overflow: hidden;
  border-radius: 2px;
  background: rgba(255, 255, 255, 0.56);
}

.progress-bar__value {
  display: block;
  height: 100%;
  background: #ffb627;
}
